<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199128295363-31d7av22h0qmmok5b4bfqf6rb7bjaoll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199128295363-31d7av22h0qmmok5b4bfqf6rb7bjaoll</string>
	<key>API_KEY</key>
	<string>AIzaSyBksN7bK-eqRUyzBNbNowDSjpK2Y1tNKYE</string>
	<key>GCM_SENDER_ID</key>
	<string>199128295363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sifterstudios.tava.tava</string>
	<key>PROJECT_ID</key>
	<string>tava-d1fd9</string>
	<key>STORAGE_BUCKET</key>
	<string>tava-d1fd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199128295363:ios:7eb1460b22a0c82ee13f76</string>
</dict>
</plist>